* {
  margin: 0;
  padding: 0;
}
.navbar__container {
  width: 100%;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: inherit;
}

.logo__container,
.user__container {
  display: flex;
  margin: auto 1em;
  cursor: pointer;
}

.company__logo > img {
  height: 30px;
  object-fit: contain;
  margin-right: 0.5em;
}

.user__avatar {
  margin: auto 1em;
}

.user__avatar > img {
  border-radius: 50%;
  height: 40px;
  object-fit: contain;
}
